* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*!!!!!!!! FONTS//ASSETS !!!!!!!!*/
h1 {
    font-family: 'roca', sans-serif;
    font-size: 48px;
    font-weight: 400;
}
h2, h4 {
    font-family: 'roca', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
} 
h3, a, button {
    font-family: 'montserrat', sans-serif;
    font-size: 20pt;
    font-style: normal;
    font-weight: 400;
}  
p {
    font-family: 'montserrat', sans-serif;
    font-size: 16pt;
    font-style: normal;
    font-weight: 400;
}
#minari {
    height: 259px;
    width: 385px;
}
.preloader {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 100000;
    background-color:white;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .preloader img{
    animation: spin 3s ease;
    width: 150px;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(360deg)
    }
    100% {
      transform: rotate(720deg);
    }
  }
.contact {
    background-color: #D08F70;
  }
  .mb-3 {
    margin-top: 10px;
    font-family: 'montserrat', sans-serif;
    font-size: 16pt;
    font-style: normal;
    font-weight: 400;
  }
  .mb-3 button {
    background-color: #D08F70;
    outline: black;
  }

/*!!!!!!!! HW 17 START !!!!!!!!*/


.inline-block {
    display: inline-block;
    vertical-align: top;
}
.logo {
    text-align: left;
    width: 2%;
    padding: 1%;
}
#logonav {
    height: 90px;
    background-color: transparent;
    width: 200px;
}
nav {
    width: 100%;
    padding: 1%;
    background-color: #D08F70;

}
header ul {
    float: right;
    color: white;
}
li {
    margin-left: 40px;
    margin-right:60px;
    margin-top: 25px;
}
a:link {
    color: black;
    background-color: #D08F70;
    text-decoration: none;
}
a:visited {
    color: black;
    background-color: #D08F70;
    text-decoration: none;
}
.heroimg {
    height: 400px;
    padding: 10px;
}
#mainphoto {
    display: flex;
    align-items: start;
    justify-content: end;
    height: 200px;
    margin-right: 5%;
}
.content {
    text-align: left;
    background: #FBE7C8;
    width: auto;
    padding: 1%;
}
.heroTxt div {
    display: flex;
    align-self: center;
    justify-content: space-around;
}
.heroTxt h2 {
    display: flex;
    width: 252.743px;
    height: 56.46px;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: flex-start;
}
.heroTxt h1 {
    display: flex;
    width: 806.372px;
    height: 56.46px;
    flex-direction: row-reverse;
    justify-content: center;
}
.heroTxt h3 {
    display: flex;
    width: 300.885px;
    height: 56.46px;
    flex-direction: row-reverse;
    justify-content: flex-start;
    margin-left: 300px;
}
.heroTxt p {
    display: flex;
    width: 598.159px;
    height: 132.425px;
    flex-shrink: 0;
    flex-direction: row;
    margin-left: 150px;
}
button {
    color: white;
    background-color: #c36f4e;
    height: 40px;
    border-radius: 5px;
    width: 300px;
    margin-left: 400px;
}
footer {
    margin-top: 25px;
    background-color: #D08F70;
    padding: 2px;
    color: white;
}
footer ul {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding: 1%;
    color: white;
}
.about {
    width: auto;
    height: 600px;
    padding: 25px;
}
#aboutImg {
    height: 300px;
    margin-bottom: 10px;
}
.aboutContent {
    text-align: center;
    width: auto;
    margin: 0 auto;
    padding: 1%;
}
/*!!!!!!!! HW 18 START !!!!!!!!*/

.flexContainer{
    display: flex;
    margin: auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.flexContainer div {
    text-align: center;
    width: 33%;
    margin: 1%;
}
.flexContainer p {
    margin-left: 10%;
    margin-right: 10%;
}

.workGrid {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto 1000px;
    grid-gap: 2%;
    padding: 2%;
    grid-template-areas: 
        "project1 img1"
        "project2 img2"
        "project3 img3";
}
.project1 {
    grid-area: project1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bsbImg {
    grid-area: img1;
    width: 90%;
    margin-left: 20%;
}
.project2 {
    grid-area: project2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.appImg {
    grid-area: img2;
    width: 90%;
    margin-left: 20%;
}
.project3 {
    grid-area: project3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.govImg {
    grid-area: img3;
    width: 90%;
    margin-left: 20%;
}


@media only screen and (max-width: 600px) {
    .flexContainer {
        flex-direction: row;
    }
    .flexContainer div {
        width: 100%;
    }
    .workGrid {
        grid-template-rows: auto auto auto;
        grid-template-columns: auto;
        grid-template-areas: 
            "project1"
            "img1"
            "project2" 
            "img2"
            "project3" 
            "img3";
    }
}

/*!!!!!!!! HW 19 START !!!!!!!!*/
html {
    scroll-behavior: smooth;
}